.navbarItemContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  color: #00000099;
  cursor: pointer;
}

.navbarSelectedItemContainer{
  color: #000000e3 !important;
}

.navbarItemContainer:hover,
.navbarItemContainer.hoverEffect {
  color: #000000e3;
}

.navbarItemLabel{
  font-size: 14px;
}

@media (max-width: 768px) {
  .navbarItemLabel {
    display: none;
  }
}