.sideBarRightContainer{
  display: flex;
  width: 230px;
  height: 530px;
  border-radius: 8px;
  background-color: white;
  border: 0.5px grey solid;
  margin: 15px 0px;
  padding: 20px 10px;
}

@media (max-width: 768px) {
  .sideBarRightContainer {
    display: none;
  }
}